In [84]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from IPython.display import HTML

import requests

In [87]:
# Setup splinter INSTEAD
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\malac\.wdm\drivers\chromedriver\win32\99.0.4844.51]

# NASA Mars News

In [110]:
url = "https://redplanetscience.com/"
    
browser.visit(url)

In [111]:
html = browser.html
soup = BeautifulSoup(html)

In [112]:
mars_news_title = soup.findAll("div", {"class": "content_title"})[0].text
mars_news_title

"Meet the People Behind NASA's Perseverance Rover"

In [113]:
mars_article_title = soup.findAll("div", {"class": "article_teaser_body"})[0].text
mars_article_title

"These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater. "

# Mars Space Images

In [114]:
url = "https://spaceimages-mars.com/"
    
browser.visit(url)

In [115]:
html = browser.html
soup = BeautifulSoup(html)

In [116]:
soup.find_all('a', href=True)[2]

In [117]:
# https://pytutorial.com/get-element-href-beautifulsoup
html_source = '''
       <a class="showimg fancybox-thumbs" href="image/featured/mars3.jpg" target="_blank"> <button class="btn btn-outline-light"> FULL IMAGE</button></a>
'''

# BeautifulSoup
soup1 = BeautifulSoup(html_source, 'html.parser')

# Find element which have href attr
image_find = soup1.find(href=True)

# Print href value
print(image_find['href'])

image/featured/mars3.jpg

In [118]:
featured_image_url = url + image_find['href']
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

# Galaxy Facts

In [119]:
url = "https://galaxyfacts-mars.com/"

browser.visit(url)

In [120]:
html = browser.html
dfs = pd.read_html(html)
len(dfs)

2

In [121]:
mars_df = dfs[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [122]:
mars_df = dfs[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [123]:
mars_df.columns=["Data_Info", "Mars"]
mars_df.set_index("Data_Info", inplace=True)
mars_df

                                               Mars
Data_Info
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [124]:
html = mars_df.to_html()
print(html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>Data_Info</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [154]:
# Cerberus Hemisphere Full Image
url = "https://marshemispheres.com/cerberus.html" 
browser.visit(url)


html = browser.html
bs = BeautifulSoup(html, 'html.parser')


cerberus_src = bs.find_all('img', {"class":"wide-image"})
cerberus_src

In [ ]:
# Cerberus Hemisphere Full Image

In [155]:
# Schiaparelli Hemispheres
url = "https://marshemispheres.com/schiaparelli.html" 
browser.visit(url)

html = browser.html
bs = BeautifulSoup(html, 'html.parser')


cerberus_src = bs.find_all('img', {"class":"wide-image"})
cerberus_src

In [133]:
# Schiaparelli Hemispheres
url = "https://marshemispheres.com/syrtis.html" 
browser.visit(url)

html = browser.html
bs = BeautifulSoup(html, 'html.parser')

syrtis = bs.find_all('img', {"class":"wide-image"})
syrtis

In [136]:
# Schiaparelli Hemispheres
url = "https://marshemispheres.com/valles.html" 
browser.visit(url)

html = browser.html
bs = BeautifulSoup(html, 'html.parser')


valles_src = bs.find_all('img', {"class":"wide-image"})
valles_src